/mooc-java-programming-i/part07-Part07_01.LiquidContainers/target/
/mooc-java-programming-i/part07-Part07_02.LiquidContainers2/target/
/mooc-java-programming-i/part07-Part07_03.Sorting/target/
/mooc-java-programming-i/part07-Part07_04.ReadymadeSortingAlgorithms/target/
/mooc-java-programming-i/part07-Part07_05.Searching/target/
/mooc-java-programming-i/part07-Part07_06.GradeStatistics/target/
/mooc-java-programming-i/part07-Part07_08.BigYear/target/
/mooc-java-programming-i/part07-Part07_07.RecipeSearch/target/
/mooc-java-programming-ii/part08-Part08_01.Cubes/target/
/mooc-java-programming-ii/part08-Part08_02.AverageOfPositiveNumbers/target/
/mooc-java-programming-ii/part08-Part08_04.LiquidContainers2/target/
/mooc-java-programming-ii/part08-Part08_05.TodoList/target/